# Appendix 1.1
---

## Data Collection, and Cleaning

First we can rename some of the columns we will operate on.

In [2]:
# accidents = accidents.rename(columns = {'CRASH DATE':'date','CRASH TIME':'time', 'BOROUGH':'borough',
#                                        'NUMBER OF PERSONS KILLED': 'killed', 'NUMBER OF PERSONS INJURED': 'injured',
#                                        'LATITUDE': 'latitude', 'LONGITUDE': 'longitude'})

First we can evaluate the number of vehicles involved in an accident. In the original dataset, there are five columns. As crashes are arranged by row, the columns filled represents the types of vehicles involved, with NaN meaning a vehicle was not involved in a crash. By counting the number of NaNs in each row of the vehicle involved dataframe we can determine the total number of vehicles in a crash. We can append this to the original dataset in a new column called 'vehicles_involved'.

In [3]:
#vehicle_types = ['VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5']
#accident_vehicles = accidents[vehicle_types]

#accidents['vehicles_involved'] = 5-accident_vehicles.isnull().sum(axis = 1)



We also create a list of factors which have to deal with the research question. We want to see if the time of day impacts the severity of a crash in terms of
1. Number of casualties 
2. Number of vehicles involved

and we are analyzing this in each borough.

Using this list of factors we subset the accidents data.

In [4]:
#factors = ['date', 'time', 'borough', 'killed', 'injured', 'vehicles_involved', 'latitude', 'longitude']
#accidents = accidents[factors]

Next we can focus only on accidents in the incorporated boroughs. According to the data origin being from New York State MV-104A forms and New York City MV-104AN forms being interchangeable, accidents not given a borough (represented by NaN) occured in an nearby county outside of the city (which we will omit).

In [5]:
#accidents = accidents.dropna(subset = ["borough"])
# the current index represents the previous indices of crashes including those outside the five boroughs
#accidents.head()

Now we generate a new column of time objects. Since we have two columns with the date and the time of day, we can concatenate into one column, and using Pandas to_datetime(), parse into time objects.

In [6]:
#accidents['parsed_time'] = pd.to_datetime(accidents.date + accidents.time, format = '%m/%d/%Y%H:%M')
#accidents.head()

After subsequent analysis we determined the whole period of time was too long. Our data might have been skewed by events such as the pandemic occuring. Thus, we decided to subset the data to only the year 2018.

In [7]:
#right_year = []

#for i in accidents['parsed_time']:
#    if i.year == 2018:
#        right_year.append(True)
#    else:
#        right_year.append(False)
#
#accidents = accidents[right_year]

In [8]:
accidents.head()

,Unnamed: 0,date,time,borough,killed,injured,vehicles_involved,latitude,longitude,parsed_time
0,4,05/03/2018,16:53,BROOKLYN,0.0,1.0,1,40.595753,-73.964676,2018-05-03 16:53:00
1,8,05/01/2018,20:50,BROOKLYN,0.0,1.0,2,40.632260,-73.900880,2018-05-01 20:50:00
2,15,05/01/2018,17:53,BRONX,0.0,1.0,1,40.827343,-73.897620,2018-05-01 17:53:00
3,19,05/01/2018,15:00,BROOKLYN,0.0,0.0,2,40.607765,-73.982550,2018-05-01 15:00:00
4,32,05/03/2018,18:10,MANHATTAN,0.0,0.0,2,40.733524,-73.989876,2018-05-03 18:10:00

According to the handbook "You should be saving data in intermediate files at several points through this process so that you are not starting from scratch every time you change something". To do so we will use Pandas to_csv() method.

In [9]:
#accidents.to_csv('cleaned_accidents.csv')

After cleaning we discovered that the parsed_time column of objects became string, so we have to re-parse the times.

In [10]:
accidents['parsed_time'] = pd.to_datetime(accidents.parsed_time, format = '%Y-%m-%d %H:%M')